doctype html
html(lang='en')
    head 
        title our services
        link(rel="stylesheet", href="/views.css")
        style. 
             *{
                text-align: center;
                background-color: black;
                color:white;
                
             }
              p{
                color:red;
                text-size: 50px;
                font-size:100px;
                padding: 20px;
                margin: 50px;
                font-family: Avenir; 
            }
             div {
                display: inline-block;
                align-items: center;
                justify-content: flex-end;
             }
             a {
               background-color: red;
               color: white;
               
               padding: 1em 1.5em;
               text-decoration: none;
               text-transform: uppercase;
               }

             a:hover {
             background-color: #555;
             }

             a:active {
             background-color: black;
             }

             a:visited {
             background-color: gren;
             }
    body 
        p  welcome to our services
        div 
        a(href="/home") home
        
        a(href="/contact_us") contact us
        div

