doctype html
html(lang='en')
    head 
        title work time
        link(rel="stylesheet", href="/views.css")
        style. 
            *{
                  background-color: black;
                  color:white;
                  text-align: center;
                  

            }
            h1{
                color:red;
                text-size: 50px;
                font-size:100px;
                padding: 20px;
                margin: 50px;
                font-family: Avenir; 
            }
            h2{
                padding: 12px;
                margin: 40px;
                font-family: Avenir; 
            }
        
    body 
        h1 welcome  
        h2 The web application is only available during working hours Monday to Friday,  from 9 to 17
        h3 thank you for your understanding


//-                



              

